.container {
    color: aqua;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas1 {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    margin: 0;
}
.controls {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls > input {
    width: 60%;
    margin-bottom: 10px;
}
.controls > label {
    color: white;
    font-size: 15px;
}
